body {

    background-color: rgb(251, 250, 240);
    line-height: 110%;

}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0,0,0,0.8);
    display: none;    
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

/* Показываем, если ссылка в фокусе (:target) */
.lightbox:target {
    display: flex;
}

img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.flexbox-item {
    display: flex;
    background-color: rgba(220, 246, 214, 0.8);
    color: black;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
    min-width: 300px;
    line-height: 150%;
}

.header {
   display: flex;
    margin: 20px;
    

}

 @media (max-width: 700px) {
    .header {
        text-align: center;
        display: block;
    }
}

.info {
    padding-left: 50px;

}

h3 {
    font-style: italic;
    padding-bottom: 20px;
}